.container {
  background-color: #fff;
  padding: 80px;
  text-align: center;
  box-shadow: 3px 3px rgb(0, 0, 0); /* Adjust the alpha value (0.5) as needed */

  max-width: 800px;
  min-height: 340px;
  margin: 40px auto;
  width: 90%;

  /* Optional: Gradient Background */
  /* background: linear-gradient(to right, #6dd5ed, #2193b0); */
}


  
  .heading {
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  .text {
    color: #666;
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .heading {
      font-size: 24px;
    }
    .column {
        width: 50%;
      }
  
    .text {
      font-size: 16px;
    }
  
    .button {
      padding: 10px 20px;
      font-size: 14px;
    }
    .main {
        flex-wrap: nowrap;
      }
  
      div {
        flex-basis: 33%;
      }
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the space between options */
    font-family: sans-serif;
  }
  
  .option {
    flex-basis: 33%;
    text-align: center;
    max-width: 300px;
    position: relative;
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition for effects */
    cursor: pointer; /* Optional: Changes the cursor on hover */
}

/* Optional: Hover effect */
.option:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

  
  /* Add more styles as needed to option, heading, text, and button */
  
  .feature-icon {
    width: 80px; 
    height: 80px;
    transition: transform 0.3s ease; /* Adds a smooth transition effect */
  }
  
  .feature-icon:hover {
    transform: scale(1.1); /* Scales the icon up slightly on hover */
  }
  
  /* Adjust the .feature-icon class for the 'size' icon separately if needed */
  .feature-description {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1.5s ease, max-height 1.5s ease;
  }
  
  .feature-description.visible {
    opacity: 1;
    max-height: 100px; /* Adjust max-height according to your content */
  }
  
  .feature-image {
    max-width: 100px;
    max-height: 100px;
  }

  .typing-effect {
    overflow: hidden;
    width: 100%;
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2s steps(40, end); /* Adjust '40' based on the number of characters */
  }
  
  .typing-effect .caret {
    display: inline-block;
    width: .1em; /* Adjust the width of the caret */
    background-color: black;
    margin-left: .1em; /* Space between the text and the caret */
    animation: blink-caret .75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { background-color: transparent; }
    50% { background-color: black; }
  }
  
  
  @keyframes popUp {
    0%, 25%, 100% { /* 25% of 4s = 1s of animation */
      transform: scale(1);
    }
    12.5% { /* Middle of the animation phase */
      transform: scale(1.1);
    }
  }
  
  
  
  /* .popUpEffect {
    animation-name: popUp;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 4s; 
  }
   */
